@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: var(--color-text);
  font-weight: 300;
  background-color: var(--color-bg);
}

body[data-theme="dark"] {
  --color-text: #fff;
  --color-bg: #0e121b;
  --color-ui-base: #181c25;
  --shadow: rgba(245, 245, 245, 0.2) 0px 0px 8px;
}

body[data-theme="light"] {
  --color-text: #111517;
  --color-bg: #f0f0f0;
  --color-ui-base: #fff;
  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

